
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
  body
    header HusciiCoding Presentations
    p(class="subtitle") Presenting Django! 
    p(class="content").
        This website will help you set up the environment you need to start working with Django and make
        the most of the presentation. 
        
    p(class="content") So go ahead, chose your operating system. We look forward to seeing you tomorrow!
    div.actions
        a(href='/macinstall') Mac
        a(href='/wininstall') Windows
    
    